<div style="padding: 0% 10% 0% 10%">
<%= render partial: 'form', locals: { form: @question_form, url: question_group_questions_path(@question_group), method: :post, submit_text: 'Create Question' } %>
</div>