<% if current_user.try(:admin?) %>
<h1>Editing Charity</h1>

<%= render 'form' %>

<%= link_to 'View Charity Details', @charity, :class => "btn btn-default btn-sm" %> |
<%= link_to 'Back', charities_path, :class => "btn btn-default btn-sm" %>
<% end %>
